{% extends 'base.html' %}

{% block content %}

    {% if form.errors %}
        <p>Ваши логин и пароль не совподает, попробуйте еще раз</p>
    {% endif %}


    {% if next %}
        {% if user.is_authenticated %}
        <p>У вашего аккаунта нет доступа к этой странице, Чтобы продолжить, пожалуйста, войдите с учетной записбю, которая имеет доступ</p>
        {% else %}
            <p>Пожалуйста, войдите, Чтобы увидеть эту страницу</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
    </table>
        <input type="submit" value="Войти">
        <a class="btn btn-outline-danger" href="{% url 'password_reset' %}" role="button">Восстановить пароль</a>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
{% endblock %}
        